<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
        <meta name="facebook-domain-verification" content="14yui0t6bj9n8uz4d48a2snpt3cvnz"/>
        <meta name="csrf-param" content="authenticity_token"/>
        <meta name="csrf-token" content="WhGuRflz/a0sPz5mk+guBJUVprGWwHICV8cCegqPctGaiYivurKh8zfs2nUNBYDS+mVH4Ddd+FiOe78nw58hIQ=="/>
        <title>Sign In | Coplay Suit
    </title>
        <link rel="stylesheet" media="screen" href="https://cdn.dribbble.com/assets/auth-d8333d69e3ce0e83ef05e2722e793908ffeb0a403b776d17106b6095f1cd16ae.css"/>
        <meta name="description" content="Sign in to your Dribbble account, the world’s leading community for designers to share, grow, and get hired">
        <meta name="mixpanel-controller" content="sessions"/>
        <meta name="mixpanel-action" content="new"/>
        <script src="https://accounts.google.com/gsi/client" async defer></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;600&family=IBM+Plex+Mono:wght@500&display=block" rel="stylesheet">
    </head>
    <body class="logged-out not-pro not-player not-self not-team not-on-team  sign-in">
        <div id="main-container">
            <section class="auth-sidebar">
                <div class="auth-sidebar-content">
                    <img style="height: 100%;" src="https://steamuserimages-a.akamaihd.net/ugc/948473893575738391/64219AD92D8FC7C6BF9603BE013F92D486D6C0DD/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false"
                    alt="">
                </div>
            </section>
        </div>
        
    </body>
</html>
