<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
        <meta name="facebook-domain-verification" content="14yui0t6bj9n8uz4d48a2snpt3cvnz"/>
        <meta name="csrf-param" content="authenticity_token"/>
        <meta name="csrf-token" content="WhGuRflz/a0sPz5mk+guBJUVprGWwHICV8cCegqPctGaiYivurKh8zfs2nUNBYDS+mVH4Ddd+FiOe78nw58hIQ=="/>
        <title>Sign In | Coplay Suit
    </title>
        <link rel="stylesheet" media="screen" href="https://cdn.dribbble.com/assets/auth-d8333d69e3ce0e83ef05e2722e793908ffeb0a403b776d17106b6095f1cd16ae.css"/>
        <meta name="description" content="Sign in to your Dribbble account, the world’s leading community for designers to share, grow, and get hired">
        <meta name="mixpanel-controller" content="sessions"/>
        <meta name="mixpanel-action" content="new"/>
        <script src="https://accounts.google.com/gsi/client" async defer></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;600&family=IBM+Plex+Mono:wght@500&display=block" rel="stylesheet">
    </head>
    <body class="logged-out not-pro not-player not-self not-team not-on-team  sign-in">
        <div id="main-container">
            <section class="auth-sidebar">
                <div class="auth-sidebar-content">
                    <img style="height: 100%;" src="https://steamuserimages-a.akamaihd.net/ugc/948473893575738391/64219AD92D8FC7C6BF9603BE013F92D486D6C0DD/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false"
                    alt="">
                </div>
            </section>

            <section class="content">
                <main data-main-container>
                    <div class="auth-content">
                        <div class="row" style="text-align: center;margin-bottom: 30px;">
                            <div style="font-size: 55px;letter-spacing: 5px;font-weight: bold;">
                                <script type="text/javascript">
                                    farbbibliothek = new Array();
                                    farbbibliothek[0] = new Array("#FF0000", "#FF1100", "#FF2200", "#FF3300", "#FF4400", "#FF5500", "#FF6600", "#FF7700", "#FF8800", "#FF9900", "#FFaa00", "#FFbb00", "#FFcc00", "#FFdd00", "#FFee00", "#FFff00", "#FFee00", "#FFdd00", "#FFcc00", "#FFbb00", "#FFaa00", "#FF9900", "#FF8800", "#FF7700", "#FF6600", "#FF5500", "#FF4400", "#FF3300", "#FF2200", "#FF1100");
                                    farbbibliothek[1] = new Array("#00FF00", "#000000", "#00FF00", "#00FF00");
                                    farbbibliothek[2] = new Array("#00FF00", "#FF0000", "#00FF00", "#00FF00", "#00FF00", "#00FF00", "#00FF00", "#00FF00", "#00FF00", "#00FF00", "#00FF00", "#00FF00", "#00FF00", "#00FF00", "#00FF00", "#00FF00", "#00FF00", "#00FF00", "#00FF00", "#00FF00", "#00FF00", "#00FF00", "#00FF00", "#00FF00", "#00FF00", "#00FF00", "#00FF00", "#00FF00", "#00FF00", "#00FF00", "#00FF00", "#00FF00", "#00FF00", "#00FF00", "#00FF00", "#00FF00");
                                    farbbibliothek[3] = new Array("#FF0000", "#FF4000", "#FF8000", "#FFC000", "#FFFF00", "#C0FF00", "#80FF00", "#40FF00", "#00FF00", "#00FF40", "#00FF80", "#00FFC0", "#00FFFF", "#00C0FF", "#0080FF", "#0040FF", "#0000FF", "#4000FF", "#8000FF", "#C000FF", "#FF00FF", "#FF00C0", "#FF0080", "#FF0040");
                                    farbbibliothek[4] = new Array("#FF0000", "#EE0000", "#DD0000", "#CC0000", "#BB0000", "#AA0000", "#990000", "#880000", "#770000", "#660000", "#550000", "#440000", "#330000", "#220000", "#110000", "#000000", "#110000", "#220000", "#330000", "#440000", "#550000", "#660000", "#770000", "#880000", "#990000", "#AA0000", "#BB0000", "#CC0000", "#DD0000", "#EE0000");
                                    farbbibliothek[5] = new Array("#000000", "#000000", "#000000", "#FFFFFF", "#FFFFFF", "#FFFFFF");
                                    farbbibliothek[6] = new Array("#0000FF", "#FFFF00");
                                    farben = farbbibliothek[0];
                                    function farbschrift() { for (var b = 0; b < Buchstabe.length; b++) { document.all["a" + b].style.color = farben[b] } farbverlauf() }
                                    function string2array(b) { Buchstabe = new Array(); while (farben.length < b.length) { farben = farben.concat(farben) } k = 0; while (k <= b.length) { Buchstabe[k] = b.charAt(k); k++ } }
                                    function divserzeugen() { for (var b = 0; b < Buchstabe.length; b++) { document.write("<span id='a" + b + "' class='a" + b + "'>" + Buchstabe[b] + "</span>") } farbschrift() }
                                    var a = 1;
                                    function farbverlauf() { for (var b = 0; b < farben.length; b++) { farben[b - 1] = farben[b] } farben[farben.length - 1] = farben[-1]; setTimeout("farbschrift()", 30) }
                                    var farbsatz = 1;
                                    // function farbtauscher(){farben=farbbibliothek[farbsatz];while(farben.length<text.length){farben=farben.concat(farben)}farbsatz=Math.floor(Math.random()*(farbbibliothek.length-0.0001))}setInterval("farbtauscher()",5000);
                
                                    text = "Cosplay Suit"; //h
                                    string2array(text);
                                    divserzeugen();
                                </script>
                            </div>
                        </div>
                        <div class="auth-form sign-in-form">
                            <ul style="color: red;font-size: 15px;">
                                <li style="margin: 5px;">
                                    <%=email%>
                                </li>
                                <li style="margin: 5px;">
                                    <%=passwd%>
                                </li>
                                <li style="margin: 5px;">
                                    <%=msg%>
                                </li>
                            </ul>
                            <!-- <p style="color: rgb(218, 47, 47);"> <%=msg%> </p> -->
                            <form action="" method="post">
                                <!-- <input type="hidden" name="authenticity_token" value="WVy+JFExLoGgb3a4LqEAh+p2yizwU27B6AeKsRPu4viw7Ms16y0MszW5PW2Dc/Fvg7pU4IpO/otNdsY0TzhhGA=="/> -->
                                <div class="form-fields">
                                    <fieldset>
                                        <label for="login">Enter Your Email</label>
                                        <input type="text" name="email" id="login" tabindex="1" class="text-input"  data-cypress="email" />
                                    </fieldset>
                                    <fieldset>
                                        <label for="password" class="password">
                                            Enter Your Password <a href="/users/forgotPasswd">Forgot Password?</a>
                                        </label>
                                        <input type="password" name="passwd" id="password" value="" tabindex="2" class="text-input" data-cypress="password"/>
                                    </fieldset>
                                </div>
                                <input class="btn2 btn2--large btn2--full-width margin-t-20" type="submit" value="Sign In" tabindex="3" data-cypress="submit-sign-in-btn"/>
                                
                            </form>
                           
                        </div>
                    </div>
                </main>
            </section>

        </div>
        
    </body>
</html>

