<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Account / Password | Cosplay Suit</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" media="screen, projection" href="https://cdn.dribbble.com/assets/master-2d347fa18aee51ae3c3d1846768a9814469e4f3999e23c29c80db8277516d200.css"/>
        <link rel="stylesheet" href="https://cdn.dribbble.com/assets/master_async-4513dc8b80ddf714c2cbf3c3325bae9e08b7e5a10cc7e8198151f423113f4690.css" media="print" onload="this.media='all'">
       
       
        
       
       
       
       
        <meta name="csrf-token" content="UiHXkx6CBhbPD8tyms06m41sq2RGuP6LDCt0w8+92+XQn9lblxy8EPzEIStA3A6G9OqVYINCklJFUzbtHzrFng=="/>
        <script src="https://cdn.dribbble.com/assets/vite/assets/application-a848b4c1.js" crossorigin="anonymous" type="module"></script>
        <link rel="modulepreload" href="https://cdn.dribbble.com/assets/vite/assets/chunk.GHOMGFX6-73467087.js" as="script" crossorigin="anonymous">
        <link rel="modulepreload" href="https://cdn.dribbble.com/assets/vite/assets/sl-dialog-show-48b6f607.js" as="script" crossorigin="anonymous">
        <link rel="stylesheet" media="screen" href="https://cdn.dribbble.com/assets/vite/assets/shoelace-overrides-3f1a8ecd.css"/>
        <meta property="fb:app_id" content="811749452338490">
        <noscript>
            <style>
                ol.dribbbles {
                    display: block !important
                }
            </style>
        </noscript>
        <meta name="mixpanel-controller" content="accounts/password"/>
        <meta name="mixpanel-action" content="show"/>
    </head>
    <body id="password" class="logged-in not-pro not-player not-self not-team not-on-team  hiring-profile-bg">
        <div class="nav-v2" data-site-nav-v2>
            <div class="nav-v2__dark-overlay"></div>
            <div class="nav-v2__wrapper">
                <button class="nav-v2-burger" data-nav-v2-burger aria-label="Toggle mobile menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <nav class="nav-v2-main" role="navigation" data-nav-v2-mobile>
                    <div class="nav-v2-main__wrapper">
                        <ul ul class="nav-v2-main__list">
                            <li class="nav-v2-main__item">
                                <a data-nav-event-clicked="Hire Designers" href="/users/home">Home</a>
                            </li>
                            <li class="nav-v2-main__item">
                                <a data-nav-event-clicked="Inspiration" href="#">Quản lý sản phẩm</a>
                            </li>
                            <li class="nav-v2-main__item">
                                <a data-nav-event-clicked="Learn Design" href="/users/home/quanlykhachhang">Quản lý khách hàng</a>
                            </li>
                            <li class="nav-v2-main__item">
                                <a data-nav-event-clicked="Jobs" href="#">Quản lý người bán</a>
                            </li>
                            <li class="nav-v2-main__item">
                                <a data-nav-event-clicked="Go Pro" href="#">Thống kê</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div id="wrap">
            <div id="wrap-inner">
                <div id="content" role="main">
                    <div class="constrained-content-alt">
                        <div class="group">
                            <div class="slat-header user account-slat-header">
                                <div class="slat-details">
                                    <h1>
                                        <a class="url" rel="contact" href="#">
                                            <picture>
                                                <source srcset="https://cdn.dribbble.com/users/17621009/avatars/normal/data?1695481321" media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)">
                                                <source srcset="https://cdn.dribbble.com/users/17621009/avatars/small/data?1695481321">
                                                <img class="photo" alt="Trần Đức Mạnh PH 1 9 4 1 4" src="https://cdn.dribbble.com/users/17621009/avatars/small/data?1695481321"/>
                                            </picture>
                                            <span class="display-name">Trần Đức Mạnh PH 1 9 4 1 4</span>
                                        </a>
                                        <span class="sep">/</span>
                                        Password
      
                                    </h1>
                                    <h2>Manage your password</h2>
                                </div>
                            </div>
                        </div>
                        <div class="secondary">
                            <ul class="vertical-sidenav account-menu hiring-profile-account-menu">
                                <li>
                                    <a href="/users/account">General</a>
                                </li>
                             
                                <li class="active">
                                    <a href="/users/account/newpass">Password</a>
                                </li>
                                <li class="separator"></li>
                                <li class="warning">
                                    <a href="#">Sign Out</a>
                                </li>
                            </ul>
                        </div>
                        <div id="main">
                            <form class="gen-form with-messages flush" id="edit_user_17621009" action="/account/password" accept-charset="UTF-8" method="post">
                                <input name="utf8" type="hidden" value="&#x2713;"/>
                                <input type="hidden" name="_method" value="put"/>
                                <input type="hidden" name="authenticity_token" value="/WEpsBi6HG5lUcUFf4TR0wXR/4lMY6WmGBiRnBE+J2svR3tGllNHiM0qFgQZyEDFLuq3LBTDGQ+ZO20f923JqA=="/>
                                <div class="form-field ">
                                    <fieldset>
                                        <label for="user_old_password">Old password</label>
                                        <input class="input-with-outline-only" type="password" name="user[old_password]" id="user_old_password"/>
                                    </fieldset>
                                </div>
                                <div class="form-field ">
                                    <fieldset>
                                        <label for="user_password">Password</label>
                                        <input autocomplete="new-password" class="input-with-outline-only" type="password" name="user[password]" id="user_password"/>
                                    </fieldset>
                                    <p class="message">Minimum 6 characters</p>
                                </div>
                                <div class="form-btns">
                                    <input type="submit" name="commit" value="Change" class="btn2 " data-disable-with="Change"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div id="footer" class="footer-v2 js-site-footer" data-footer-v2 role="contentinfo">
            <div class="footer-v2__container">
                <div class="footer-v2__lower">
                    <ul class="footer-v2__lower-list">
                        <li>&copy;2023 Cosplay Suit</li>
                        <li>
                            <a href="#">Terms</a>
                        </li>
                        <li>
                            <a href="#">Privacy</a>
                        </li>
                        <li>
                            <a href="#">Cookies</a>
                        </li>
                    </ul>
                    <ul class="footer-v2__lower-list">
                        <li>
                            <a href="#">Jobs</a>
                        </li>
                        <li>
                            <a href="#">Designers</a>
                        </li>
                        <li>
                            <a href="#">Freelancers</a>
                        </li>
                        <li>
                            <a href="#">Tags</a>
                        </li>
                        <li>
                            <a href="#">Places</a>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="shot-overlay js-shot-overlay lazyloading-hidden-container" tabindex="-1" data-include="css:https://cdn.dribbble.com/assets/components/media-overlay-modal-aab31167a28c7fd718ff177eba434ace45b9b691bd7aed991669968a95cad514.css">
           
            </div>
        
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.dribbble.com/assets/global-51e57130fbb2ad93b8edacd9308495c1f9e788822ce1ede27ce0137c702c9e6c.js"></script>
        <script src="https://cdn.dribbble.com/assets/packs/js/application.aa2391b95d507c23ca21.js"></script>
      
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-24041469-1"></script>
        <script></script>
    </body>
</html>
