<!DOCTYPE html>
<html>
<head>
//...Ở đây bạn tự edit nha
</head>
<body>
    
    <div style="padding: 10px; width: 100%; border-radius: 4px; background-color: #98c4ff; color: #006eff">
  
    </div>

    <form action="" method="POST">
        <input name="mail" placeholder="Mail của bạn..." required>
        <button type="submit">Gửi</button>
    </form>
</body>
</html>